/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 29px;
    width: 29px;
    background: rgba(254, 252, 251, 0.22);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background: rgba(254, 252, 251, 0.54);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
  }

  @media only screen and (max-width: 834px) {
    .checkmark {
      height: 22px;
      width: 22px;
    }
    .container .checkmark:after {
      top: 7px;
      left: 7px;
      width: 8.34px;
      height: 8.34px;
    }
  }
  @media only screen and (max-width: 420px) {
    .checkmark {
      height: 19px;
      width: 19px;
    }
    .container .checkmark:after {
      top: 6px;
      left: 6px;
      width: 7px;
      height: 7px;
    }
  }